* {
    font-size: 22px;
    font-weight: 300;
}

html {
    position: relative;
    min-height: 100%;
}

.main {
    padding-top: 20vmin;
    padding-bottom: 20vmin;
}

h2 {
    font-weight: 700;
}

.section {
    padding-top: 5vmin;
}