* {
    font-size: 22px;
    font-weight: 300;
}

html {
    position: relative;
    min-height: 100%;
}

.main {
    padding-top: 100px;
    padding-bottom: 50px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

.section {
    padding-top: 15px;
}

img {
    padding-top: 15px;
    padding-bottom: 15px;
}

a:hover, a:visited, a:link, a:active {
    color: #6698ff;
    text-decoration: none;
}

.map {
    padding-top: 15px;
    padding-bottom: 15px;
}

.role {
    font-weight: 400;
}

.margin-top-xs {
    margin-top: 0.5em;
}

.margin-top-sm {
    margin-top: 1em;
}

.name {
    margin-bottom: 0;
}

.logo {
    position: fixed;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 0;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

.fully-booked-warning-box {
    display: none; /* toggle between 'block' or 'none' */
    margin-top: 15px;
    background-color: #6698ff33;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
