* {
    font-size: 22px;
    font-weight: 300;
}

html {
    position: relative;
    min-height: 100%;
}

.main {
    padding-top: 100px;
    padding-bottom: 50px;
}

h2 {
    font-weight: 700;
}

.section {
    padding-top: 15px;
}

img {
    padding-top: 15px;
    padding-bottom: 15px;
}

a:hover, a:visited, a:link, a:active {
    color: #6698ff;
    text-decoration: none;
}

.map {
    padding-top: 15px;
    padding-bottom: 15px;
}